body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
     font-size: 50px;    
}
 .nw{
     color:lawngreen;
 }
 h3{
     color: black;
 }
 .lazy{
     color: red;
 }
 p{
     width: 500px;
     color: rgb(70, 17, 218);
   
 }
  .flexiable-container{
      display: flex; 
      margin-top: 1px; 
  }
  .hw{
      width: 50%;
      padding: 7%;
     
  }
  .hw img{
    width: 60%;
    height: 20cm;
    width: 100%;
  }
  .link-button{
      text-decoration: none;
      color: blanchedalmond;  
      background-color:orangered; 
      padding: 10px 30px;
      border-radius: 10px;
      font-weight: 700;
  }
  .top-banner{
      background-image:url(images/top-banner.png);
      background-repeat: no-repeat;
      
  }
  .my-family{
      background-image:url(images/dream-bg.png) ;
      background-repeat: no-repeat;
      background-position: right;
  }
  .experience area{

  }
  .orange{
      color: orange;
  }
  .email{
      color:blueviolet;
  }
.text{
    color:rgb(2, 12, 9);
    font-weight: 600;
}
.name{
    color: rgb(10, 243, 10);
    font-weight: 900;
}
.member-des{
    color: crimson;
    font-weight: bolder;
    padding-left: 100px;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding-left: 30px;
    border-radius: 15px;
    background-image: linear-gradient(blue,orange);
    border-left: 5px solid rebeccapurple;
   
    box-shadow: 10px 10px 10px gray;

}
.experience-items{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}

#web-dev-ex{
    background-image: ;


}